/*!
Theme Name:     Avada Child Theme
Description:    Child theme for the Avada WP Theme
Author:         Health Communication Core
Author URI:     http://www.healthcommcore.org
Template:       Avada
Version:        1.0
Text Domain:    Avada
*/

@import './desktop.scss';
@import './responsive.scss';
