/** FONTS **/ 
$depot: "depot-new-web";
$depot-cond: "depot-new-condensed-web";
$sweet: "sweet-sans-pro";

$thin: 100;
$lt: 300;
$reg: 400;
$med: 500;
$semi: 600;
$bold: 700;
$heavy: 800;
$body-size: 1.2rem;
$body-height: 1.6 * $body-size;

/** COLORS **/
$dk-blue: #3C5EA0;
$med-blue: #6DC1E7;
$lt-blue: #F0F9FD;
$turq: #00B1FC;
$dk-turq: #4B7D9B;
$dk-orange: #C35B2A;
$orange-brown: #bc7756;

/** SPACING **/
$h2-mg: 10px;
$p-mb: 36px;
$title-margin: 3px;
$content-margin: 270px;

